<header>
<div class="cover">
    <div class="container">
      <nav class="navbar navbar-expand navbar-light">
        <a href="<?= h(url) ?>users/login" class="navbar-brand">Microblog</a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href= "<?= h(url) ?>users/login" class="nav-link">login</a></li>
          <li class="nav-item"><a href= "<?= h(url) ?>users/add" class="nav-link">register</a></li>
       </ul>
      </nav>
    </div>
</div>
</header>
